/* !fonts */

@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

/* !core styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --logo-font: "Goldman", cursive;
  --header-font: "Open Sans", sans-serif;
  --p-font: "Nunito Sans", sans-serif;
  /* font-size */
  --header-font-size: 30px;
  --sub-header-font-size: 20px;
  --p-font-size: 16px;
  /* line-height */
  --p-line-height: 2.4rem;
  /* color */
  --bg-color: #f7f4f4;
  --bg-black: #242424;
  --pink: #d740ab;
  --blue: #1e8394;
  --red: #b80000;
  --green: #065b0c;
  --figcaption-border: rgb(78, 78, 78);
}

html {
  font-size: 10px;
}
body {
  background: var(--bg-color);
}
main {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}
ul {
  list-style-type: none;
}

h1 {
  font-family: var(--header-font);
}
h2 {
  font-family: var(--header-font);
}
a {
  font-family: var(--header-font);
}
p {
  font-family: var(--p-font);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
button:hover {
  opacity: 0.6;
}

figure {
  width: 95%;
  max-width: 350px;
  margin: auto;
  background: var(--bg-color);
  margin-top: 20px;
  box-shadow: 0px 10px 13px -7px #000000;
}

figure div {
  min-width: 200px;
}

figcaption {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 15px 10px 15px;
}

figcaption a {
  color: var(--blue);
  font-size: 1.4rem;
  white-space: nowrap;
}

figcaption a:hover {
  opacity: 0.6;
}

figcaption h2 {
  font-size: 1.5rem;
}

/* article */

article {
  width: 90%;
  max-width: 750px;
  margin: auto;
  padding: 30px 0;
}

article img {
  max-width: 140px;
  float: right;
  margin-top: 5px;
}
article span {
  font-weight: bold;
}
article a {
  color: var(--blue);
}

/* !width container ajustments */
/* main */
main h1 {
  text-align: center;
  padding: 20px;
  font-size: var(--header-font-size);
  color: var(--blue);
}

.ninty-percent-six-hundred {
  width: 90%;
  margin: auto;
  max-width: 600px;
}

/* to create the black background */
.ninty-five-percent-wrapper {
  width: 95%;
  margin: auto;
}


/* !header */

.nav-wrapper {
  background: #000;
  height: 70px;
}

nav {
  height: 70px;
  width: 80%;
  max-width: 1400px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  max-width: 50px;
}

.logo-text {
  white-space: nowrap;
  font-family: var(--logo-font);
  font-size: 1.2rem;
}
/* hamburger */
#hamburger {
  font-size: 2rem;
  cursor: pointer;
}

/* menu */
.menu {
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: -1000px;
  width: 40%;
  height: 520px;
  background: rgba(204, 204, 204, 0.85);
  padding-top: 50px;
}

/* menu height for other pages than home page */
.menu-other-pages-height {
  height: 370px;
}

.menu a {
  display: flex;
  align-items: flex-end;
  height: 40px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-size: 1.6rem;
  padding-left: 30px;
  border-top: 1px solid transparent;
}
.menu a:hover {
  background: rgb(163, 162, 162);
  border-bottom: 1px solid grey;
  border-top: 1px solid transparent;
  color: white;
}
/* show menu */
.show-menu {
  position: absolute;
  left: 0px;
  top: 0;
}

/* !Media */

@media (min-width: 768px) {
  nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
  }

  #hamburger {
    display: none;
  }
  .logo {
    max-width: 60px;
  }

  .logo-text {
    font-size: 1.5rem;
  }
  .menu {
    transition: 0s;
    position: relative;
    top: -2px;
    left: 0;
    height: 20px;
    background: #000;
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .menu a {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 65px;
    height: 18px;
    padding: 0;
    margin: 0;
  }
  .menu a:hover {
    background: #000;
    opacity: 0.6;
  }
}

@media (min-width: 1000px) {
  .menu a {
    width: 85px;
  }
}

/* !image section */
.index-image-section {
  background: url("../img/vr-girl-resized-optimized.jpg") no-repeat center
    center/cover;
  height: 450px;
}

.index-image-section > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 420px;
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

.index-image-section h1 {
  color: white;
  font-size: 7vw;
}

#dropBtn {
  align-self: flex-start;
  margin-top: 5px;
  font-size: var(--p-font-size);
  color: white;
  text-decoration: underline;
}

#dropBtn:hover {
  opacity: 0.6;
}

/* !media */

@media (min-width: 768px) {
  .index-image-section {
    background: url("../img/vr-2-1920.jpeg") no-repeat center center/cover;
  }
  .index-image-section > div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 6%;
  }
  #dropBtn {
    align-self: flex-end;
  }
  .index-image-section h1 {
    font-size: 4rem;
    text-align: right;
    color: black;
  }
}

/* !hidden section */

.hidden-section {
  height: 0;
  width: 80%;
  margin: auto;
  transform: translateY(-1000px);
  opacity: 0;
  transition: 0.5s;
}

.show-section {
  height: 810px;
  transform: translateY(0px);
  opacity: 1;
  padding: 20px 0;
  max-width: 670px;
}
/* mediaqueries to make the entire section 
of the page below move relative to the drop down section */
@media (min-width: 320px) {
  .show-section {
    height: 750px;
  }
}

@media (min-width: 350px) {
  .show-section {
    height: 700px;
  }
}

@media (min-width: 375px) {
  .show-section {
    height: 630px;
  }
}
@media (min-width: 425px) {
  .show-section {
    height: 580px;
  }
}
@media (min-width: 475px) {
  .show-section {
    height: 510px;
  }
}
@media (min-width: 525px) {
  .show-section {
    height: 490px;
  }
}
@media (min-width: 575px) {
  .show-section {
    height: 440px;
  }
}
@media (min-width: 625px) {
  .show-section {
    height: 410px;
  }
}
@media (min-width: 675px) {
  .show-section {
    height: 390px;
  }
}
@media (min-width: 725px) {
  .show-section {
    height: 370px;
  }
}
@media (min-width: 768px) {
  .hidden-section {
    width: 60%;
  }
  .show-section {
    height: 420px;
  }
}
@media (min-width: 870px) {
  .show-section {
    height: 370px;
  }
}
@media (min-width: 940px) {
  .show-section {
    height: 340px;
  }
}
@media (min-width: 1050px) {
  .show-section {
    height: 320px;
  }
}
@media (min-width: 1100px) {
  .show-section {
    height: 300px;
  }
}

.hidden-section h2 {
  text-align: center;
  padding-bottom: 15px;
}

.hidden-section div {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

/* !main-section-index */
/* !button-section */

.button-section {
  width: 200px;
  margin: auto;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 20px;
}

.button-section a {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
}

.button-section a:hover {
  font-size: 3rem;
}

.button-section a:nth-child(1) {
  border: 2px solid var(--pink);
  color: var(--pink);
}
.button-section a:nth-child(2) {
  border: 2px solid var(--blue);
  color: var(--blue);
}
.button-section a:nth-child(3) {
  border: 2px solid var(--red);
  color: var(--red);
}
.button-section a:nth-child(4) {
  border: 2px solid var(--green);
  color: var(--green);
}

/* !media */
@media (min-width: 768px) {
  .button-section {
    width: 500px;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0px;
  }
}

/* !index-cards-wrapper */

.index-cards-wrapper {
  background: var(--bg-black);
  padding: 5px;
}

.image-card-1 {
  background: url('../img/science-img1.jpg')
  no-repeat center center/cover;
  height: 200px;
}
.image-card-2 {
  background: url('../img/t-rex-resized.jpg')
  no-repeat 10% center/cover;
  height: 200px;
}
.image-card-3 {
  background: url('../img/lab-img.jpeg')
  no-repeat center center/cover;
  height: 200px;
}
.image-card-4 {
  background: url('../img/guy-painting-vr.jpg')
  no-repeat center center/cover;
  height: 200px;
}


/* !media */

@media (min-width: 430px) {
  .ninty-five-percent-wrapper {
    background: var(--bg-color);
  }
}

@media (min-width: 768px) {
  .index-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 700px;
    grid-gap: 1.5rem;
    padding: 0px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1050px) {
  .index-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    max-width: 1400px;
    width: 85%;
  }
  .index-cards-wrapper figcaption {
    height: 70px;
  }
  figcaption h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1300px) {
  figcaption h2 {
    font-size: 1.5rem;
  }
  .index-cards-wrapper {
    width: 90%;
  }
}

/* !footer */

/* core */
footer {
  margin-top: 50px;
}

footer span {
  font-weight: bold;
}

footer p {
  font-size: 1.4rem;
  color: var(--bg-black);
}

footer a {
  color: var(--blue);
}
footer a:hover {
  opacity: 0.6;
}

footer label {
  font-size: 1.4rem;
  font-family: var(--p-font);
}
/* main components */

footer .container {
  width: 70%;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container > div,
form {
  padding: 20px;
}

.opening-hours-footer {
  max-width: 250px;
  margin-left: 10px;
}
/* more spesiffic to each div */

.social > div {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: auto;
  padding: 20px 0;
}
.social a {
  font-size: 2rem;
  width: 20px;
  height: 20px;
}
.social a:hover {
  font-size: 2.3rem;
}
footer form input[type="text"] {
  height: 30px;
  padding: 0 15px;
  margin: 10px 0;
}

footer form input[type="submit"] {
  height: 30px;
  padding: 0 20px;
  display: block;
  background: var(--blue);
  border: 1.5px solid var(--bg-black);
  border-radius: 20px;
  cursor: pointer;
}
footer form input[type="submit"]:hover {
  opacity: 0.7;
}

/* back to top */

.back-to-top {
  padding: 10px;
}
.back-to-top a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-to-top .fa-angle-up {
  font-size: 2rem;
  margin-left: 5px;
}

/* !media */

@media (min-width: 668px) {
  footer .container {
    width: 72%;
    max-width: 72%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
  }
  .contact-footer {
    margin-right: 20px;
  }
  .opening-hours-footer {
    margin-left: 0px;
  }
  .social {
    margin-right: 20px;
  }
}

@media (min-width: 760px) {
  footer {
    background: #ccc;
  }
}

@media (min-width: 900px) {
  footer .container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .social {
    margin-right: 0px;
  }
}

/* !shop */

.shop-image-section {
  background: url("../img/exhibition-1920.jpg") no-repeat center center/cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.shop-section-1 {
  max-width: 350px;
}

.shop-image-section div {
  background: rgba(255, 255, 255, 0.664);
  text-align: center;
}

.shop-section-1 h2 {
  padding: 20px 0 0px 0;
}

.shop-section-1 p {
  padding: 10px 0;
}

/* cards section */

.shop-image-card-1 {
  background: url('../img/rubics-cube-600.jpeg')
  no-repeat center center/cover;
  height: 200px;
}
.shop-image-card-2 {
  background: url('../img/chemistry-600.jpg')
  no-repeat center center/cover;
  height: 200px;
}
.shop-image-card-3 {
  background: url('../img/lego.jpg')
  no-repeat center center/cover;
  height: 200px;
}
.shop-image-card-4 {
  background: url('../img/puzzle-600.jpeg')
  no-repeat center center/cover;
  height: 200px;
}
.shop-image-card-5 {
  background: url('../img/evolution-shirt-600.jpg')
  no-repeat center center/cover;
  height: 200px;
}
.shop-image-card-6 {
  background: url('../img/gift-card-600.jpeg')
  no-repeat center center/cover;
  height: 200px;
}

.shop-cards-section figure {
  margin-top: 20px;
  margin-bottom: 45px;
}

.shop-cards-section figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0;
}

/* !media */

@media (min-width: 768px) {
  .shop-cards-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 637px;
    margin: auto;
    padding-top: 45px;
  }
  .shop-cards-section figure {
    max-width: 280px;
  }
  .shop-section-1 {
    max-width: 600px;
  }
}

@media (min-width: 1000px){
  .shop-cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin: auto;
  }
  .shop-cards-section figure {
    max-width: 300px;
    margin-top: 7px;
  }
  .shop-cards-section figcaption h2{
    font-size: 1.5rem;
  }
}


/* !explore page */

.explore-image-section {
  background: url('../img/inside-museum-resized.jpg')
  no-repeat center center/cover;
  height: 300px;
}


@media (min-width: 768px) {
  article img {
    max-width: 160px;
  }
}


.black-bg {
  background: var(--bg-black);
  width: 100%;
  max-width: 800px;
  padding: 20px 20px;
  color: white;
}

.exhibition-header {
  padding-top: 0;
}

/* !media */

@media (min-width: 470px) {
  .black-bg {
    padding: 20px 30px;
  }
  .explore-article-7 {
    margin-bottom: 120px;
  }
}

@media (min-width: 768px) {
  .explore-article-6 {
    padding: 40px 0 60px 0;
  }
  .black-bg {
    padding: 20px 38px;
  }
}

@media (min-width: 850px) {
  .explore-article-6 {
    padding: 40px 0 80px 0;
  }
  .black-bg {
    padding: 20px 25px;
  }
}


/* !visit page */

.visit-image-section {
  background: url('../img/museum-resized-resized.jpg')
  no-repeat center center/cover;
  height: 300px;
}

.hours-table {
  border: 2px solid var(--bg-black);
  width: 95%;
}
.hours-table h2 {
  text-align: center;
}

.hours-table table {
  width: 100%;
  font-family: var(--p-font);
  font-size: var(--p-font-size);
}

.hours-table table tr{
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  width: 90%;
  margin: auto;
  max-width: 300px;
}

.grey-bg {
  background: #ccc;
  width: 95%;
  padding: 15px 10px;
}

/* !media */
@media (min-width: 768px){
  .grey-bg {
    padding: 15px 20px;
    width: 100%;
  }
}

/* !program page */

.program-image-section {
  background: url('../img/science-img1.jpg')
  no-repeat center center/cover;
  height: 300px;
}

.program-article {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.program-image-1 {
  background: url('../img/teaching-science-1200.jpg')
  no-repeat center center/cover;
  height: 250px;
}
.program-image-2 {
  background: url('../img/t-rex-resized.jpg')
  no-repeat 10% 10%/cover;
  height: 250px;
}
.program-image-3 {
  background: url('../img/lab-img.jpeg')
  no-repeat center center/cover;
  height: 250px;
}

/* !media */
@media (min-width: 500px) {
  .program-image-1,
  .program-image-2,
  .program-image-3 {
    height: 300px;
  }
}

@media (min-width: 770px) {
  .program-articles {
    display: flex;
    margin: auto;
    width: 90%;
  }
  .program-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
    max-width: 400px;
  }
  .program-image-1,
  .program-image-2,
  .program-image-3 {
    height: 200px;
  }
}

/* !contact page */

.contact-image-section {
  background: url('../img/question-192030.jpeg')
  no-repeat center center/cover;
  height: 300px;
}

.mail-icon {
  display: none;
}

.contact-section-1 {
  max-width: 300px;
}

.contact-section-1 div{
  max-width: 300px;
  margin-top: 20px;
}

.contact-section-1 p {
  padding: 15px 0;
}

.contact-section-1 a {
  color: var(--blue);
}

.contact-section-1 a:hover {
  opacity: .6;
}

.contact-section-2 form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

.contact-section-2 form h2 {
  padding-bottom: 20px;
  text-align: center;
}

.contact-section-2 form input {
  margin-bottom: 20px;
  height: 30px;
  border: 1px solid var(--bg-black);
}

.contact-section-2 form textarea {
  margin-bottom: 10px;
  border: 1px solid var(--bg-black);
}

.contact-section-2 form input[type="submit"] {
  background: var(--blue);
  border: 2px solid var(--bg-black);
  border-radius: 50px;
  cursor: pointer;
}
.contact-section-2 form input[type="submit"]:hover {
  opacity: .6;
}

/* !media */ 
@media (min-width: 768px) {
  .contact-section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 800px;
  }
  .mail-icon {
    display: block;
    font-size: 23rem;
    color: var(--blue);
  }
  .contact-section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    max-width: 800px;
  }
}