/* !fonts */

@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

/* !core styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --logo-font: "Goldman", cursive;
  --header-font: "Open Sans", sans-serif;
  --p-font: "Nunito Sans", sans-serif;
  /* font-size */
  --header-font-size: 30px;
  --sub-header-font-size: 20px;
  --p-font-size: 14px;
  /* line-height */
  --p-line-height: 2.4rem;
  /* color */
  --bg-color: #f7f4f4;
  --bg-black: #242424;
  --pink: #d740ab;
  --blue: #1e8394;
  --red: #b80000;
  --green: #065b0c;
  --figcaption-border: rgb(78, 78, 78);
}

html {
  font-size: 10px;
}
body {
  background: var(--bg-color);
}
main {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
ul {
  list-style-type: none;
}

h1 {
  font-family: var(--header-font);
}
h2 {
  font-family: var(--header-font);
}
a {
  font-family: var(--header-font);
}
p {
  font-family: var(--p-font);
  font-size: var(--p-font-size);
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
button:hover {
  opacity: 0.6;
}

/* main */
main h1 {
  text-align: center;
  padding: 20px;
  font-size: var(--header-font-size);
  color: var(--blue);
}

/* !header */

.nav-wrapper {
  background: #000;
  height: 70px;
}

nav {
  height: 70px;
  width: 80%;
  max-width: 1400px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  max-width: 50px;
}

.logo-text {
  white-space: nowrap;
  font-family: var(--logo-font);
  font-size: 1.2rem;
}
/* hamburger */
#hamburger {
  font-size: 2rem;
  cursor: pointer;
}

/* menu */
.menu {
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: -1000px;
  width: 40%;
  height: 520px;
  background: #ccc;
  padding-top: 50px;
}

.menu a {
  display: flex;
  align-items: flex-end;
  height: 40px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-size: 1.6rem;
  padding-left: 30px;
  border-top: 1px solid transparent;
}
.menu a:hover {
  background: rgb(163, 162, 162);
  border-bottom: 1px solid grey;
  border-top: 1px solid transparent;
  color: white;
}
/* show menu */
.show-menu {
  position: absolute;
  left: 0px;
  top: 0;
}

/* !Media */

@media (min-width: 768px) {
  nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
  }

  #hamburger {
    display: none;
  }
  .logo {
    max-width: 60px;
  }

  .logo-text {
    font-size: 1.5rem;
  }
  .menu {
    transition: 0s;
    position: relative;
    top: -2px;
    left: 0;
    height: 20px;
    background: #000;
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .menu a {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 65px;
    height: 18px;
    padding: 0;
    margin: 0;
  }
  .menu a:hover {
    background: #000;
    opacity: 0.6;
  }
}

@media (min-width: 1000px) {
  .menu a {
    width: 85px;
  }
}

/* !image section */
.index-image-section {
  background: url("../img/vr-girl-resized-optimized.jpg") no-repeat center
    center/cover;
  height: 450px;
}

.index-image-section > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 420px;
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

.index-image-section h1 {
  color: white;
  font-size: 7vw;
}

#dropBtn {
  align-self: flex-start;
  margin-top: 5px;
  font-size: var(--p-font-size);
  color: white;
  text-decoration: underline;
}

#dropBtn:hover {
  opacity: 0.6;
}

/* !media */

@media (min-width: 768px) {
  .index-image-section {
    background: url("../img/vr-2-1920.jpeg") no-repeat center center/cover;
  }
  .index-image-section > div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 6%;
  }
  #dropBtn {
    align-self: flex-end;
  }
  .index-image-section h1 {
    font-size: 4rem;
    text-align: right;
    color: black;
  }
}

/* !hidden section */

.hidden-section {
  height: 0;
  width: 80%;
  margin: auto;
  transform: translateY(-1000px);
  opacity: 0;
  transition: 0.5s;
}

.show-section {
  height: 620px;
  transform: translateY(0px);
  opacity: 1;
  padding: 20px 0;
  max-width: 670px;
}
/* mediaqueries to make the entire section 
of the page below move relative to the drop down section */
@media (min-width: 320px){
  .show-section{
    height: 540px;
  }
}

@media (min-width: 375px){
  .show-section{
    height: 480px;
  }
}
@media (min-width: 425px){
  .show-section{
    height: 430px;
  }
}
@media (min-width: 525px){
  .show-section{
    height: 370px;
  }
}
@media (min-width: 625px){
  .show-section{
    height: 320px;
  }
}
@media (min-width: 725px){
  .show-section{
    height: 290px;
  }
}
@media (min-width: 768px){
  .hidden-section {
    width: 60%;
  }
  .show-section{
    height: 320px;
  }
}
@media (min-width: 870px){
  .show-section{
    height: 280px;
  }
}
@media (min-width: 960px){
  .show-section{
    height: 260px;
  }
}
@media (min-width: 1050px){
  .show-section{
    height: 240px;
  }
}

.hidden-section h2 {
  text-align: center;
  padding-bottom: 15px;
}

.hidden-section div {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

/* !main-section-index */
/* !button-section */

.button-section {
  width: 200px;
  margin: auto;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 20px;
}

.button-section a {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
}

.button-section a:hover {
  font-size: 3rem;
}

.button-section a:nth-child(1){
  border: 2px solid var(--pink);
  color: var(--pink)
}
.button-section a:nth-child(2){
  border: 2px solid var(--blue);
  color: var(--blue)
}
.button-section a:nth-child(3){
  border: 2px solid var(--red);
  color: var(--red)
}
.button-section a:nth-child(4){
  border: 2px solid var(--green);
  color: var(--green)
}

/* !media */
@media (min-width: 768px) {
  .button-section {
    width: 500px;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0px;
  }
}

/* !index-cards-wrapper */

.index-cards-wrapper {
  background: var(--bg-black);
  padding: 5px;
}
/* todo add to the core styles */
/* to create the black background */
.ninty-five-percent-wrapper {
  width: 95%;
  margin: auto;
}

figure{
  width: 95%;
  max-width: 350px;
  margin: auto;
  background: var(--bg-color);
  margin-top: 20px;
  box-shadow: 0px 10px 13px -7px #000000;
}

figcaption {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 15px 10px 15px;
}

figcaption a {
  color: var(--blue);
  font-size: 1.4rem;
  white-space: nowrap;
}

figcaption h2 {
  font-size: 1.5rem;
}
/* todo above */

/* !media */

@media (min-width: 430px) {
  .ninty-five-percent-wrapper {
    background: var(--bg-color);
  }
}

@media (min-width: 768px) {
  .index-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 700px;
    padding: 0px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1050px) {
  .index-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    max-width: 1300px;
  }
  figcaption h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  figcaption h2 {
    font-size: 1.5rem;
  }
}



/* !footer */

/* core */
footer {
  margin-top: 50px;
}

footer span {
  font-weight: bold;
}

footer p {
  font-size: 1.4rem;
  color: var(--bg-black);
}

footer a {
  color: var(--blue);
}

footer label {
  font-size: 1.4rem;
}
/* main components */

footer .container {
  width: 70%;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container > div,
form {
  padding: 20px;
}

.opening-hours-footer {
  max-width: 250px;
  margin-left: 10px;
}
/* more spesiffic to each div */

.social > div {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: auto;
  padding: 20px 0;
}
.social a {
  font-size: 2rem;
  width: 20px;
  height: 20px;
}
.social a:hover {
  font-size: 2.3rem;
}
footer form input[type="text"] {
  height: 30px;
  padding: 0 15px;
  margin: 10px 0;
}

footer form input[type="submit"] {
  height: 30px;
  padding: 0 20px;
  display: block;
  background: var(--blue);
  border: 1.5px solid var(--bg-black);
  border-radius: 20px;
  cursor: pointer;
}
footer form input[type="submit"]:hover {
  opacity: 0.7;
}

/* back to top */

.back-to-top {
  padding: 10px;
}
.back-to-top a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-to-top .fa-angle-up {
  font-size: 2rem;
  margin-left: 5px;
}

/* !media */

@media (min-width: 668px) {
  footer .container {
    width: 72%;
    max-width: 72%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
  }
  .contact-footer {
    margin-right: 20px;
  }
  .opening-hours-footer {
    margin-left: 0px;
  }
  .social {
    margin-right: 20px;
  }
}

@media (min-width: 760px) {
  footer {
    background: #ccc;
  }
}

@media (min-width: 900px) {
  footer .container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .social {
    margin-right: 0px;
  }
}